@model IEnumerable<Quote>

<link rel="stylesheet" href="~/css/quote.css">

<main>

    <section id="today-quote">

        <h2>Today's Quote</h2>
        <div id="quote"> <h3>@Model.First().Content</h3> </div>
        <div id="quotee"> <p>@Model.First().Quotee</p> </div>
        <a id="link-centered-bordered" href=/Quote/InsertComment/@Model.First().QuoteID>
            Submit Your Opinion About This Quote </a>

        <section id="comments">
        <div id="comments-container">
        <h2>Comments About Today's Quote</h2>
            @if (Model.First().Comments.Count > 0)
            {
                @foreach (var comment in @Model.First().Comments)
                {
                    <figure id="comment">
                        <figcaption>@comment.Author - @comment.CommentDate</figcaption>
                        <p id="comment-content">@comment.Content</p>
                    </figure>
                }
            }
            else 
            {
                <p id="no-comments">No one has commented yet....<br/> Submit your opinion to be the first to comment!</p>
            } 
            </div>
    </section>

    </section>

    <section id="prev-quotes">
        <h2>This Weeks Quotes</h2>

        <table class="table">

            <tr>
                <th>Date</th>
                <th id="quote-header">Quote</th>
                <th>Quotee</th>
                <th>Submit Input</th>

            </tr>

            @foreach (var quote in Model.ToArray().Skip(1))
            {
                <tr>
                    <td id="day-of-week"><a href=/Quote/ViewQuote/@quote.QuoteID>@quote.Date.ToString("MM/dd/yyyy")</a></td>
                    <td id="quote-of-week">@quote.Content</td>
                    <td id="quotee-of-week">@quote.Quotee.Remove(0,1)</td>
                    <td id="comment-quote-of-week"><a href=/Quote/InsertComment/@quote.QuoteID>Submit Comment</a></td>
                </tr>
            }

        </table>
    </section>

</main>