@model IEnumerable<Quote>

    <link rel="stylesheet" href="~/css/quote.css">
    <script>


    </script>

    <main>

        <section id="today-quote">
            <h2>Today's Quote</h2>

            <div id="quote">
                <h3>@Model.ToArray()[0].Content</h3>
            </div>

            <div id="quotee">
                <p>@Model.ToArray()[0].Quotee</p>
            </div>


            <section id="form-container">
                <h2>How Does This Quote Make You Feel?</h2>
                <form id="comment-form">
                    <label for="name">Your Name:</label>
                    <input type="text" id="name-input" name="name" placeholder="Enter Your Name Here" required /><br />
                    <label for="comment">Your feelings about this quote:</label><br />
                    <textarea id="comment-input" name="comment" required></textarea>
                </form>
            </section>


            <section id="comments">
                <h2>Comments About This Quote</h2>

                <div id="comments-container">

                    @if (Model.ToArray()[0].Comments.Count > 0)
                    {
                        @foreach (var comment in @Model.ToArray()[0].Comments)
                        {
                            <figure>
                                <figcaption>@comment.Author - @comment.CommentDate</figcaption>
                                <p id="comment">@comment.Content</p>
                            </figure>
                        }
                    }
                </div>
            </section>

        </section>

        <section id="prev-quotes">
            <h2>This Weeks Quotes</h2>

            @foreach (var quote in Model.ToArray().Skip(1))
            {
                <div class="quote">
                    <h4>@quote.Date : @quote.Content</h4>
                    <p>@quote.Quotee</p>
                </div>
            }

        </section>

    </main>