@model Quote

<link rel="stylesheet" href="~/css/quote.css">

<main>

    <section id="today-quote">
        <div id="quote">
            <h3>@Model.Content</h3>
        </div>

        <div id="quotee">
            <p>@Model.Quotee</p>
        </div>

        <a id="link-centered-bordered" href=/Quote/InsertComment/@Model.QuoteID>
            Submit Your Opinion About This Quote
        </a>

            <section id="comments">
                <div id="comments-container">
                    <h2>Comments About This Quote</h2>
                    @if (Model.Comments.Count > 0)
                    {
                        @foreach (var comment in @Model.Comments)
                        {
                            <figure id="comment">
                                <figcaption>@comment.Author - @comment.CommentDate</figcaption>
                                <p id="comment-content">@comment.Content</p>
                            </figure>
                        }
                    }
                    else
                    {
                        <p id="no-comments">No one has commented yet....<br /> Submit your opinion to be the first to comment!</p>
                    }
                </div>
            </section>


        </section>

    </section>

</main>